extends ./base.pug

block content
    form(action="/b/review" method="get").btnWrapper
        button(type="submit").btnWrapper__w 작성하기
    each p in potato
        form(action="/b/detail" method="get").bb
            input(type="hidden" name="noticeId" value=p.id)
            div.notice__id #{p.id}
            div.notice__title #{p.title}
                button(type="submit") #{p.title} 
            div.notice__user #{p.user}
            div.notice__createdAt #{p.createdAt}